@import "../../shared/variables";

.Workout {
  &__container {
    margin-bottom: $spacing-lg;
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
  }

  &__group {
    &__title {
      padding-left: $spacing-sm;
      font-weight: 700;
      font-size: 16px;
    }

    &__excercise-label {
      padding-left: $spacing-md;
    }
  }
}
