.button {
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 16px;
  padding: 12px;
  min-width: 100%;
  border: 0;
  border-radius: 2px;
  background-color: #9c27b0;
  color: #ffffff;
}

.button:hover {
  cursor: pointer;
}
