.floatingActionButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 94px;
  right: 36px;
  background-color: #ffffff;
  border: 1px solid #ecf0f1;
  color: #000;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  transition: all 0.15s ease;
  font-size: 24px;

  &--shrink {
    transform: scale(0.8);
  }
}
